@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0f172a; /* Koyu lacivert arka plan */
  color: white;
  -webkit-font-smoothing: antialiased;
}

@keyframes floatY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: floatY 6s ease-in-out infinite;
}


/* Firefox için */
* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 #050507; /* Çubuk Rengi - Arka Plan Rengi */
}

/* Chrome, Edge, Safari, Opera için */
::-webkit-scrollbar {
  width: 8px; /* Dikey çubuk genişliği */
  height: 8px; /* Yatay çubuk yüksekliği */
}

/* Çubuğun arkasındaki yol (Track) */
::-webkit-scrollbar-track {
  background: #050507; /* Sayfa arka planıyla aynı renk olsun ki göze batmasın */
  border-radius: 4px;
}

/* Hareket eden çubuk (Thumb) */
::-webkit-scrollbar-thumb {
  background-color: #3730a3; /* Koyu İndigo */
  border-radius: 4px; /* Yuvarlak köşeler */
  border: 2px solid #050507; /* Çubuğun etrafında boşluk hissi yaratır */
}

/* Çubuğun üzerine gelince (Hover) */
::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* Daha parlak İndigo */
}

/* Köşe birleşim noktası */
::-webkit-scrollbar-corner {
  background: transparent;
}