@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0f172a; /* Koyu lacivert arka plan */
  color: white;
  -webkit-font-smoothing: antialiased;
}

@keyframes floatY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: floatY 6s ease-in-out infinite;
}
